.form__submit {
  display: block;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 14px 0;
  margin-top: 185px;
  transition: opacity 0.3s ease;

  color: #000000;
}

.form__submit:disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
}

.form__submit:not(:disabled):hover {
  cursor: pointer;
  opacity: 0.85;
}

@media all and (max-width: 320px) {
  .form__submit {
    margin-top: 140px;
    font-size: 16px;
    line-height: 19px;
  }
}
